Babel  
blinker  
Brotli  
cachelib  
certifi  
cffi  
charset-normalizer  
click  
cloudinary  
colorama  
cssselect2  
docopt  
dropbox  
Flask  
Flask-Cors  
Flask-Mail  
Flask-Session  
fonttools  
greenlet  
html5lib  
idna  
itsdangerous  
Jinja2  
MarkupSafe  
msgspec  
mysqlclient  
num2words  
pillow  
ply  
pycparser  
pydyf  
pyphen  
python-dotenv  
pytz  
RapidFuzz  
requests  
six  
SQLAlchemy  
stone  
tinycss2  
typing_extensions  
Unidecode  
urllib3  
weasyprint  
webencodings  
Werkzeug  
zopfli
