attrs
Babel
beautifulsoup4
bidict
blinker
Brotli
cachelib
cachetools
certifi
cffi
charset-normalizer
click
cloudinary
colorama
cryptography
cssselect2
docopt
dropbox
Flask
Flask-Cors
Flask-Mail
Flask-Session
Flask-SocketIO
fonttools
fuzzywuzzy
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
h11
html5lib
httplib2
idna
itsdangerous
Jinja2
Levenshtein
MarkupSafe
msgspec
mysqlclient
num2words
oauth2client
outcome
packaging
pillow
ply
proto-plus
protobuf
psycopg2
pyasn1
pyasn1_modules
pycparser
pydyf
pyhtml2pdf
PyJWT
pyOpenSSL
pyparsing
pyphen
PySocks
python-dotenv
python-engineio
python-Levenshtein
python-socketio
pytz
PyYAML
rapidfuzz
requests
rsa
simple-websocket
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stone
tinycss2
trio
trio-websocket
typing_extensions
Unidecode
uritemplate
urllib3
weasyprint
webdriver-manager
webencodings
Werkzeug
wsproto
zopfli
