{% extends 'layout.html' %}


{% block title %}Pago de cliente{% endblock %}

{% block customCSS %}{% endblock %}

{% block body %}

<!-- ========== table components start ========== -->
<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title">
                        <h2>Pago de cliente</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Pago de cliente
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <div
                            class="title d-flex flex-wrap pl-30 pr-30 mb-10 align-items-center justify-content-between">
                            <div class="row">

                                {% for dataCliente in datos_cliente %}

                                <h3 class="mb-3">{{ dataCliente.nombres }} {{ dataCliente.apellidos }}</h3>
                                <input type="date" value="12-04-22" id="fechaPrestamoInput" name="fechaPrestamoInput"
                                    hidden>
                                <input type="text" value="{{dataCliente.pagoMensual }}" id="pagoMensual"
                                    name="pagoMensual" hidden>
                                <!-- Se coloca acá el script para inicializar los datos al abrir el modal -->
                                <script>
                                    function IniciarliazarcifrasInputsVisualizarPrimerPagoModal() {
                                        document.getElementById("fechaPrestamoInput").value = "{{ dataCliente.fechaPrestamo }}";
                                        document.getElementById("pagoMensualModal").value = "{{ dataCliente.pagoMensual }}";
                                    }
                                </script>

                                <div class="col-md-8 mb-5">
                                    <div class="row">
                                        <div class="col-12">
                                            <span class="status-btn close-btn mb-2">No ha pagado</span>
                                            <p><strong>Tipo Cliente: </strong><span id="tipo_cliente">{{
                                                    dataCliente.nombre_tipoCliente }}</span></p>
                                            <a id="btnMostrarDetallesCliente" href="#0"
                                                class="text-medium text-dark">[Leer
                                                más]</a>
                                            <div class="detallesCliente" id="detallesCliente" hidden>
                                                <p><strong>Paga de manera: </strong><span id="tiempo_pago">{{
                                                        dataCliente.tiempo_pago }}</span></p>
                                                <p><strong>Fecha del préstamo: </strong><span id="fecha_prestamo">{{
                                                        dataCliente.fechaPrestamo }}</span></p>
                                                <p><strong>Cliente desde hace: </strong><span id="cliente_desde">{{
                                                        dataCliente.fecha_prestamo_desde }}</span></p>
                                                <p><strong>Capital: <span>{{ dataCliente.codigoMoneda }} {{
                                                            dataCliente.monto_solicitado }}</span> </strong></p>
                                                <p><strong>Tasa de interes: <span>{{ dataCliente.tasa_interes
                                                            }}%</span></strong>
                                                </p>
                                                <p><strong>Abono Mensual: <span>{{ dataCliente.codigoMoneda }} {{
                                                            dataCliente.pagoMensual }}</span></strong></p>
                                                <p><strong>Abono Quincenal: <span>{{ dataCliente.codigoMoneda }} {{
                                                            dataCliente.pagoQuincenal }}</span></strong></p>
                                            </div>

                                            <a id="btnOcultarDetallesCliente" href="#0" class="text-medium text-dark"
                                                hidden>[Leer menos]</a>



                                            {% if saldo_pendiente.estado == 2 and saldo_pendiente.cifraSaldo > 0.00 %}
                                            <p><strong class="text-danger">Saldo pendiente: {{
                                                    saldo_pendiente.codigoMoneda }}
                                                    {{ saldo_pendiente.cifraSaldo }} <span></span></strong></p>
                                            {% elif saldo_pendiente.estado == 1 and saldo_pendiente.cifraSaldo > 0.00 %}
                                            <p><strong class="text-success">Saldo a favor: {{
                                                    saldo_pendiente.codigoMoneda }}
                                                    {{ saldo_pendiente.cifraSaldo }}<span></span></strong></p>
                                            <span></span></strong></p>
                                            {% endif %}


                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4 mb-5">
                                    <div class="row">
                                        <a data-bs-toggle="modal" data-bs-target="#modalAñadirPago" id="gestionarPago"
                                            href="#RealizarPago"
                                            class="main-btn primary-btn-light rounded-full btn-hover col-md-8 col-md-8 offset-md-4 offset-lg-4 offset-xl-4 offset-xxl-8">
                                            <i class="lni lni-plus"></i>
                                            Añadir pago
                                        </a>
                                    </div>

                                </div>

                                <div class="d-flex align-items-center">
                                    <h6>Año:</h6>
                                    <div class="select-style-1 mb-0 ml-10">
                                        <div class="select-position">
                                            <select id="filtro-comboBox" class="p-0 pe-5 border-0">
                                                {% for año in años_pagos %}
                                                {% if año[0] == session['año_seleccionado'] %}
                                                <option value="{{ año[0] }}" selected>{{ año[0] }}</option>
                                                {% else %}
                                                <option value="{{ año[0] }}">{{ año[0] }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>





                            </div>




<!-- 
                            <a href="/PruebaImprimir_pago" class="main-btn primary-btn btn-hover btn-sm mt-3" data-bs-toggle="modal"
                                data-bs-target="#ModalOpcionImprimir">
                                <i class="lni lni-printer mr-5"></i> Imprimir Historial
                            </a> -->

                            <a href="/PruebaImprimir_pago" target="_blank"  class="main-btn primary-btn btn-hover btn-sm mt-3">
                            <i class="lni lni-printer mr-5"></i> Imprimir Historial
                        </a>





                            <!-- ============ Theme Option Start ============= -->
                            <div class="btn-añadirPago">
                                <div class="container">
                                    <label class="label-añadirPago btn-hover" for="" data-bs-toggle="modal"
                                        data-bs-target="#modalAñadirPago">
                                        <div class="icon">
                                            <i class="lni lni-plus"></i>
                                        </div>
                                    </label>
                                </div>

                            </div>

                            <script>
                                window.addEventListener('scroll', function () {
                                    var tableWrapper = document.querySelector('.table-wrapper');
                                    var rect = tableWrapper.getBoundingClientRect();

                                    // Si el valor top del rectángulo es menor o igual a cero, el elemento está visible en la parte superior de la pantalla
                                    if (rect.top <= 160) {
                                        document.querySelector('.btn-añadirPago').classList.add('show');
                                    } else {
                                        document.querySelector('.btn-añadirPago').classList.remove('show');
                                    }
                                });



                            </script>

                        </div>
                        <div class="table-wrapper table-responsive" style="overflow-x: hidden !important;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="lead-info">
                                            <h6>Mes</h6>
                                        </th>

                                        <th class="lead-info">
                                            <h6>Monto</h6>
                                        </th>
                                </thead>
                                <tbody>
                                    {% set meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
                                    'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'] %}
                                    {% for i in range(1, 13) %}
                                    <tr>
                                        <th style="border-style: none !important; padding-bottom:0 !important">
                                            <h6>{{ meses[i-1] }}</h6>
                                        </th>
                                    </tr>
                                    {% set pagos_mes = pagos | selectattr('id_mes', 'equalto', i) | list %}
                                    {% if pagos_mes %}
                                    {% for pago in pagos_mes %}

                                    <!-- Insertar aquí la estructura de la fila con los detalles del pago -->
                                    <tr>
                                        <td class="min-width">
                                            <p>{{ pago.descripcion_quincena }}</p>
                                            <p>({{ pago.fecha_pago }})</p>
                                            {% if pago.observacion %}

                                            <a href="#" onclick=""><span
                                                    class="main-badge danger-badge rounded-full">Observación</span></a>

                                            {% endif %}
                                        </td>
                                        <td class="min-width">
                                            <span class="tooltip-icon {% if pago.estado_pago == 0 %}text-danger
                                            {% elif pago.estado_pago == 1 %}text-success
                                            {% elif pago.estado_pago == 2 %}text-warning
                                            {% elif pago.estado_pago == 3 %}text-secondary
                                            {% elif pago.estado_pago == 4 %}text-success
                                            {% endif %}" {% if pago.estado_pago==2 %}data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Pago incompleto, monto quincenal: {{ dataCliente.codigoMoneda }}{{
                                                dataCliente.pagoQuincenal }}" {% elif pago.estado_pago==0
                                                %}data-bs-toggle="tooltip" data-bs-placement="top" title="No hay pago"
                                                {% elif pago.estado_pago==1 %}data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Pago completo" {% elif
                                                pago.estado_pago==3 %}data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Primer pago" {% elif pago.estado_pago==4
                                                %}data-bs-toggle="tooltip" data-bs-placement="top" title="Pago de más"
                                                {% endif %}>
                                                {% if pago.estado_pago == 0 %}-{{ pago.codigoMoneda }} {{ pago.cifraPago
                                                }}
                                                <br> (NO PAGÓ) {% else %} {{ pago.codigoMoneda }} {{ pago.cifraPago }}
                                                {%
                                                endif %}</span>

                                            <button class="more-btn ml-10 dropdown-toggle" id="moreAction1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="lni lni-more-alt"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1">
                                                <li class="dropdown-item">
                                                    <a href="#0" class="text-gray">Ver</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#0"
                                                        onclick="obtenerInformacionPagoBorrar({{pago.id_pagos}})"
                                                        class="text-gray">Eliminar</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td class="min-width" colspan="4">
                                            <p>No hay pagos realizados</p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>

                                {% endfor %}






                                <!-- <iframe src="https://drive.google.com/embeddedfolderview?id=1k8js1ekmHBSZQJ1oHW8v1nP2FpHjoSGt&resourcekey=RESOURCE-KEY#grid" style="width:100%; height:600px; border:0;"></iframe> -->
                            </table>
                            <!-- end table -->
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== tables-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>
<!-- ========== table components end ========== -->

<div class="modal fade" id="modalAñadirPago" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content card-style">
            <div class="modal-header px-0 border-0">
                <h2 class="text-bold">Realizar pago</h2>


                <button class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                    <i class="lni lni-cross-circle"></i>
                </button>
            </div>
            <div class="modal-body px-0">
                <div class="content mb-30">
                    {% for dataCliente in datos_cliente %}
                    <form action="/añadir_pago/{{ dataCliente.id_cliente }}" method="POST" enctype="multipart/form-data"
                        id="anadirClientes">
                        <input type="text" id="formId_cliente" value="{{ dataCliente.id_cliente }}" hidden>

                        <a id="pagoCompleto" href="#0"
                            class="main-btn primary-btn-light rounded-full btn-hover m-1 col-md-3 offset-md-8 mb-5">
                            Pago completo
                        </a>

                        <div class="row">

                            <div class="col-12">
                                <div class="col-8 col-sm-4 col-md-4">
                                    <div class="select-style-1">
                                        <label class="">Sugerencia pago</label>
                                        <div class="select-position">
                                            <select class="light-bg" required name="comboSugerenciaPago"
                                                id="comboSugerenciaPago">
                                                <option value="1">Restante a pagar</option selected>
                                                <option value="2">Quincenal completo</option>

                                            </select>
                                        </div>
                                    </div>
                                    <!-- end select -->
                                </div>
                                <div class="input-style-1">
                                    <label class="text-bold">Fecha del pago*</label>
                                    <input type="date" required name="fechaPago" id="fechaPago" />
                                    <p id="tiempoPagoLetras"></p>
                                </div>
                            </div>

                            <div class="row">

                                <div id="tasaCambioRow" class="col-6 col-sm-4" hidden>
                                    <div class="input-style-3">
                                        <label>Tasa de cambio</label>
                                        <input type="text" value="" pattern="[0-9]*[.,]?[0-9]*" inputmode="decimal"
                                            name="inputTasaCambioPago" id="inputTasaCambioPago" />
                                        <span class="icon" id="" style="margin-left: 0rem;  margin-top: 2rem">C$</span>
                                        <!-- Aquí se mostrará el porcentaje -->
                                    </div>
                                    <!-- end select -->
                                </div>


                            </div>

                            <div class="col-4 col-sm-2 col-md-2">
                                <div class="select-style-1">
                                    <label class="">Moneda</label>
                                    <div class="select-position">
                                        <select class="light-bg" required name="tipoMonedaPago" id="tipoMonedaPago">
                                            <option value="1">$</option selected>
                                            <option value="2">C$</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- end select -->
                            </div>
                            <div id="cantidadPagoCordobasRow" class="col-6 col-sm-4" hidden>
                                <div class="input-style-3">
                                    <label for="">Pago en C$</label>
                                    <input type="text" placeholder="0" inputmode="decimal" name="cantidadPagoCordobas"
                                        id="cantidadPagoCordobas" />
                                    <span class="icon"><i class="fa-solid fa-coins"></i></span>
                                    <span>C$<span id="lblCantidadPagarC$"></span>
                                    </span>
                                    <input id="cantidadPagarVerificarC$" type="text" hidden>
                                </div>
                                <!-- end select -->
                            </div>
                            {% set cantidad_pagar = monto_pagoEspecial if monto_pagoEspecial else
                            dataCliente.pagoQuincenal %}
                            <div class="col-6 col-sm-4">
                                <div class="input-style-3">
                                    <label for="">Pago en $</label>
                                    <input type="text" placeholder="0" inputmode="decimal" name="cantidadPagar$"
                                        id="cantidadPagar$" required />
                                    <span class="icon" style="z-index: 1 !important;"><i
                                            class="fa-solid fa-coins"></i></span>
                                    <span id="pCantidadPagarVerificar$"
                                        style="position:relative; z-index: 5 !important;" class="tooltip-icon"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="{{monto_pagoEspecial.descripcion }}"></span>
                                    <input id="cantidadPagarVerificar$" type="text" value="" hidden>
                                </div>
                                <!-- end select -->
                            </div>



                            {% endfor %}

                        </div>

                        <div class="form-check checkbox-style checkbox-danger mb-20">
                            <input class="form-check-input" type="checkbox" value="0" id="checkBoxNoPago"
                                name="checkBoxNoPago" />
                            <label class="form-check-label" for="checkBoxNoPago">
                                No pagó</label>
                        </div>
                        <!-- end checkbox -->

                        <div class="form-check checkbox-style checkbox-danger mb-20" hidden>
                            <input class="form-check-input" type="checkbox" value="0" id="checkBoxPrimerPago"
                                name="checkBoxPrimerPago" />
                            <label class="form-check-label" for="checkBoxPrimerPago">
                                Primer pago</label>
                        </div>
                </div>




                <div class="col-8 col-sm-4 col-md-4" hidden>
                    <div class="select-style-1">
                        <label class="">PAGO COMPLETO O INCOMPLETO</label>
                        <div class="select-position">
                            <select class="light-bg" name="tipoPagoCompleto" id="tipoPagoCompleto">
                                <option value="0">NO HAY PAGO</option>
                                <option value="1">COMPLETO</option>
                                <option value="2">INCOMPLETO</option>
                                <option value="3">PRIMER PAGO</option>
                                <option value="4">DE MAS</option>
                            </select>
                        </div>
                    </div>
                    <!-- end select -->
                </div>

                <div class="input-style-3">
                    <label>Observación</label>
                    <textarea placeholder="Descripción de la observación" rows="5" name="observacionPago"
                        id="observacionPago"></textarea>
                    <span class="icon"><i class="fa-solid fa-eye"></i></span>
                </div>

                <div class="col-12">
                    <div class="input-style-3">
                        <label>Evidencia del pago</label>
                        <input type="file" placeholder="" accept="image/*" name="evidenciaPago" id="evidenciaPago" />
                        <span class="icon"><i class="fa-solid fa-receipt"></i></span>
                    </div>
                </div>


                <!-- end col -->
                <div class="col-12">
                    <div class="button-group d-flex justify-content-center flex-wrap">
                        <button type="POST" id="btnGuardar" class="main-btn primary-btn btn-hover m-2">
                            Guardar
                        </button>
                        <button class="main-btn danger-btn-outline m-2" data-bs-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        </form>
    </div>
</div>
</div>


<div class="modal fade" id="modalVisualizarPago" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content card-style">
            <div class="modal-header px-0 border-0">
                <h2 class="text-bold">Visualizar pago</h2>


                <button class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                    <i class="lni lni-cross-circle"></i>
                </button>
            </div>
            <div class="modal-body px-0">
                <div class="content mb-30">
                    {% for dataCliente in datos_cliente %}

                    <div class="row">

                        <div id="tasaCambioRow" class="col-6 col-sm-4" hidden>
                            <div class="input-style-3">
                                <label>Tasa de cambio</label>
                                <input type="text" value="" pattern="[0-9]*[.,]?[0-9]*" inputmode="decimal"
                                    name="inputTasaCambioPago" id="inputTasaCambioPago" />
                                <span class="icon" id="" style="margin-left: 0rem;  margin-top: 2rem">C$</span>
                                <!-- Aquí se mostrará el porcentaje -->
                            </div>
                            <!-- end select -->
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-4 col-sm-2 col-md-2">
                            <div class="select-style-1">
                                <label class="">Moneda</label>
                                <div class="select-position">
                                    <select class="light-bg" required name="tipoMonedaPago" id="tipoMonedaPago">
                                        <option value="1">$</option selected>
                                        <option value="2">C$</option>
                                    </select>
                                </div>
                            </div>
                            <!-- end select -->
                        </div>
                        <div id="cantidadPagoCordobasRow" class="col-7 col-sm-6" hidden>
                            <div class="input-style-3">
                                <label for="">Pago en C$</label>
                                <input type="text" placeholder="0" inputmode="decimal" name="cantidadPagoCordobas"
                                    id="cantidadPagoCordobas" />
                                <span class="icon"><i class="fa-solid fa-coins"></i></span>
                                <p style="font-size: small;">Cifra a pagar: C$<span id="lblCantidadPagarC$"></span>
                                </p>
                                <input id="cantidadPagarVerificarC$" type="text" hidden>
                            </div>
                            <!-- end select -->
                        </div>

                        <div class="col-8 col-sm-6">
                            <div class="input-style-3">
                                <label for="">Pago en $</label>
                                <input type="text" placeholder="0" inputmode="decimal" name="cantidadPagar$"
                                    id="cantidadPagar$" required />
                                <span class="icon"><i class="fa-solid fa-coins"></i></span>
                                {% set cantidad_pagar = monto_pagoEspecial if monto_pagoEspecial else
                                dataCliente.pagoQuincenal %}

                                <p style="font-size: small;">Cifra a pagar: {{ dataCliente.codigoMoneda }} {{
                                    cantidad_pagar }}</p>
                                <input id="cantidadPagarVerificar$" type="text" value="{{ cantidad_pagar }}" hidden>

                            </div>
                            <!-- end select -->
                        </div>


                        {% endfor %}

                    </div>



                    <div class="col-12">
                        <div class="input-style-1">
                            <label class="text-bold">Fecha del pago*</label>
                            <input type="date" required name="fechaPago" id="fechaPago" />
                            <p id="tiempoPagoLetras"></p>
                        </div>
                    </div>


                    <div class="input-style-3">
                        <label>Observación</label>
                        <textarea placeholder="Descripción de la observación" rows="5" name="observacionPago"
                            id="observacionPago"></textarea>
                        <span class="icon"><i class="fa-solid fa-eye"></i></span>
                    </div>

                    <div class="col-12">
                        <div class="input-style-3">
                            <label>Evidencia del pago</label>
                            <input type="file" placeholder="" accept="image/*" name="evidenciaPago"
                                id="evidenciaPago" />
                            <span class="icon"><i class="fa-solid fa-receipt"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            </form>
        </div>
    </div>
</div>

<!-- ModalFour start -->
<div class="warning-modal">
    <div class="modal fade" id="modalBorrarPago" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content card-style">
                <div class="modal-header px-0 border-0">
                    <h5 class="text-bold">
                        <i class="lni lni-warning text-danger me-2"></i> ¿Está seguro que desea eliminar este pago?
                    </h5>
                </div>
                <div class="modal-body px-0">
                    <div class="content mb-30">
                        <p class="text-sm" id="modalInformacionPago">
                        </p>
                    </div>
                    <div class="action d-flex flex-wrap justify-content-end">
                        <button data-bs-dismiss="modal" class="main-btn btn-sm primary-btn  btn-hover m-1">
                            Cancelar
                        </button>
                        <button id="btnBorrarPago" data-bs-dismiss="modal"
                            class="main-btn btn-sm danger-btn-outline btn-hover m-1">
                            Borrar pago
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ModalFour End -->



<!-- ModalOpcionImprimir start -->
<div class="warning-modal">
    <div class="modal fade" id="ModalOpcionImprimir" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content card-style">
                <div class="modal-header px-0 border-0">
                    <h5 class="text-bold">Opción de impresión</h5>
                    <button class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <div class="content mb-30">
                        <p class="text-sm">
                        <div class="row">

                            <div class="col-6 col-sm-6 col-md-6">
                                <div class="input-style-1">
                                    <label class="text-bold">Incio fecha</label>
                                    <input type="date" required name="inicioFechaImpresion" id="inicioFechaImpresion" />
                                    <p id="tiempoLetrasInicioFechaImpresion"></p>
                                </div>

                            </div>

                            <div class="col-6 col-sm-6 col-md-6">
                                <div class="input-style-1">
                                    <label class="text-bold">Fin fecha</label>
                                    <input type="date" required name="finFechaImpresion" id="finFechaImpresion" />
                                    <p id="tiempoLetrasFinFechaImpresion"></p>
                                </div>
                            </div>


                            <div class="form-check checkbox-style checkbox-success mb-20">
                                <input class="form-check-input" type="checkbox" value="0" id="checkBoxNoPago"
                                    name="checkBoxNoPago" />
                                <label class="form-check-label" for="checkBoxNoPago">
                                    Enviar impresión a telefono</label>
                            </div>
                        </div>
                        </p>
                    </div>
                    <div class="action d-flex flex-wrap justify-content-end">
                        <button data-bs-dismiss="modal" class="main-btn btn-sm danger-btn-outline btn-hover m-1">
                            Cancelar
                        </button>
                        <button data-bs-dismiss="modal" class="main-btn btn-sm success-btn btn-hover m-1">
                            Ir a imprimir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ModalOpcionImprimir End -->

<!-- ModalThree start -->
<div class="warning-modal">
    <div class="modal fade" id="modalCalculoPrimerPago" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content card-style">
                <div class="modal-header px-0 border-0">
                    <h3 class="text-bold">Cálculo primer pago</h3>
                    <button class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>
                <div class="modal-body px-0">
                    <div class="content mb-30">

                        <div class="tab-style-3 mb-30">
                            <nav class="nav" id="nav-tab">
                                <button id="tab-3-1" class="main-btn deactive-btn rounded-full active"
                                    data-bs-toggle="tab" data-bs-target="#tabContent-3-1">
                                    Pago diario
                                </button>
                                <button id="tab-3-2" class="main-btn deactive-btn rounded-full" data-bs-toggle="tab"
                                    data-bs-target="#tabContent-3-2">
                                    Primer pago
                                </button>
                            </nav>
                            <div class="tab-content" id="nav-tabContent3">
                                <div class="tab-pane fade show active" id="tabContent-3-1">

                                    <div class="row">

                                        <div class="col-sm-2">
                                            <div class="input-style-1">
                                                <label>Pago mensual</label>
                                                <input class="text-center" type="number" placeholder="0"
                                                    name="pagoMensualModal" id="pagoMensualModal" readonly />
                                            </div>
                                            <!-- end select -->
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="input-style-1 text-center">
                                                <label>Dividido</label>
                                                <input class="text-center" type="text" placeholder="" value="/"
                                                    readonly>
                                            </div>
                                            <!-- end select -->
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="input-style-1 text-center">
                                                <label>Mes comercial</label>
                                                <input class="text-center" type="text" value="30 días"
                                                    name="noDiasMesModal" id="noDiasMesModal" readonly />
                                            </div>
                                            <!-- end select -->
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="input-style-1 text-center">
                                                <label>resultado</label>
                                                <input class="text-center" type="text" placeholder="" value="="
                                                    readonly>
                                            </div>
                                            <!-- end select -->
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="input-style-1 text-center">
                                                <label class="text-success text-bold">Pago diario</label>
                                                <input class="text-center" type="number" name="resultadoPagoDiarioModal"
                                                    id="resultadoPagoDiarioModal" readonly />
                                            </div>
                                            <!-- end select -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabContent-3-2">


                                    <div class="row">

                                        <div class="col-sm-2">
                                            <div class="input-style-1">
                                                <label>Pago diario</label>
                                                <input class="text-center" type="number" placeholder="0"
                                                    name="pagoMensual" id="pagoDiario2Modal" name="pagoDiario2Modal"
                                                    readonly />
                                            </div>
                                            <!-- end select -->
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="input-style-1 text-center">
                                                <label>Multiplicado</label>
                                                <input class="text-center" type="text" placeholder="" value="X"
                                                    readonly>
                                            </div>
                                            <!-- end select -->
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="input-style-1 text-center">
                                                <label id="diasRestantesCorteModal"></label>
                                                <input class="text-center" type="text" value=""
                                                    id="diasHastaProximoCorte" name="diasHastaProximoCorte" readonly />
                                            </div>
                                            <!-- end select -->
                                        </div>

                                        <div class="col-sm-2">
                                            <div class="input-style-1 text-center">
                                                <label>Resultado</label>
                                                <input class="text-center" type="text" placeholder="" value="="
                                                    readonly>
                                            </div>
                                            <!-- end select -->
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="input-style-1 text-center">
                                                <label class="text-success text-bold">Primer pago</label>
                                                <input class="text-center" type="number" value=""
                                                    id="montoPrimerPagoModal" readonly />
                                            </div>
                                            <!-- end select -->
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ModalThree End -->

<!-- end col -->
<!-- end input -->
</div>
</div>

{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='assets/js/pagos/añadir.pago.js') }}"></script>



{% endblock %}