{% extends 'layout.html' %}


{% block title %}Clientes{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css">

{% endblock %}
{% block body %}

<style>
    .table td p {
        font-size: 25px;
    }



    span.main-badge {
        font-size: 20px !important;
    }

    .detalles-clientes p {
        font-size: 20px;
    }

    .detalles-clientes label {
        font-size: 20px;
    }

    .card-wrapper .single-card .card-info {
        display: block;
    }

    .card-wrapper {

        overflow-x: hidden;


    }

    .card-wrapper .single-card .bg-shape {

        left: auto !important;

    }

    .card-wrapper .single-card .card-info span {
        font-size: 20px;
    }

    .card-wrapper .single-card .card-info p {
        font-size: 20px;
    }

    #nav-tab {
        font-size: 20px;
    }

    .card-wrapper .single-card {
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        padding: 30px;
        max-width: 100%;
        min-width: auto;
        width: auto;
    }


    #ultimoPago {
        margin-top: -50px;
        margin-bottom: 35px;
        margin-left: 32px;
        font-size: 20px;
    }

    .icon-card {
        display: block;

    }

    .icon-card .icon {
        margin-bottom: 15px;
    }

    .no-select {
        user-select: none;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        cursor: pointer; /* Cambia el puntero del mouse a un puntero de enlace */
    }
</style>





<!-- ======== main-wrapper end =========== -->

<!-- ========== table components start ========== -->
<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title">
                        <h2>{{ greeting }}, <span class="text-primary">{{ session['nombre_persona'] }}!</span></h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Pagos
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== tables-wrapper start ========== -->

        <!-- ========== title-wrapper end ========== -->
        <div class="row d-flex justify-content-center">

            <div class="col-xl-3 col-lg-4 col-sm-6 col-6">
                <div class="icon-card mb-30">
                    <div class="icon success">
                        <i class="lni lni-dollar"></i>
                    </div>
                    <div class="content">
                        <h6 class="text-bold mb-10">Personas que han pagado en esta quincena</h6>
                        <h3 class="text-bold mb-10 ">{{ total_dinero_personas_pagadas.cantidad_clientes_pagados }} <span
                                class="text">de {{ total_clientes }}</span></h3>
                        <h3 class="text-bold mb-10">$ {{
                            total_dinero_personas_pagadas.suma_total_dinero_quincenal_dolares }}</h3>
                        <h3 class="text-bold mb-10"> C$ {{
                            total_dinero_personas_pagadas.suma_total_dinero_quincenal_cordobas }}</h3>
                        <br>
                        <a href="javascript:void(0)" id="btnDetallesCantidadPersonas"
                            class="btn primary-btn btn-hover">¿Por qué esta cantidad?</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6 col-6">
                <div class="icon-card mb-30">
                    <div class="icon orange">
                        <i class="lni lni-user"></i>
                    </div>
                    <div class="content">
                        <h6 class="text-bold mb-10">Total clientes al día</h6>
                        <h3 class="text-bold mb-10 ">{{ total_dinero_personas_pagadas.clientes_al_dia }} <span
                                class="text"> de {{ total_clientes }}</span></h3>
                        <p class="text-sm">
                            <span class="text-bold"></span>
                        </p>
                        <div class="input-style-1">
                            <label>{{ quincena_actual }}</label>
                            <input type="date" name="quincena_actual" id="quincena_actual" value="{{ date_input }}" />
                        </div>
                        <!-- end input -->
                    </div>
                </div>
            </div>

        </div>


        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <div class="table-responsive">
                            <table id="tableNormal" class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <h6 style="font-size: 25px;">Nombre</h6>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cliente in listado_clientes_pagos %}
                                    <tr onclick="ver_datosClientes({{ cliente.id_cliente }})" class="no-select">
                                        <td>
                                            <p class="text-bold">{{ cliente.nombres }} {{ cliente.apellidos }}</p>
                                            {% if cliente.id_tipoCliente == 2 %}
                                            <p>Cliente Normal</p>
                                            {% else %}
                                            <p>Cliente Especial</p>
                                            {% endif %}

                                            {% if cliente.estado == 0 %}
                                            <span class="main-badge danger-badge rounded-full"
                                                style="font-size: 10px;">No ha pagado</span>
                                            {% elif cliente.estado == 1 %}
                                            <span class="main-badge success-badge rounded-full">Al día</span>
                                            {% elif cliente.estado == 2 %}
                                            <span class="main-badge warning-badge rounded-full">Pago incompleto</span>
                                            {% elif cliente.estado == 3 %}
                                            <span class="text-danger">No pagó</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                            </table>
                        </div>



                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== tables-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>
<!-- ========== table components end ========== -->

<div class="warning-modal">
    <div class="modal fade" id="ModalDetalleCliente" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content card-style">
                <div class="modal-header px-0 border-0">
                    <h2>Datos del cliente</h2>
                    <!-- <h4 id="nombre_cliente" class="text-bold mb-2"></h4> -->





                    <button class="border-0 bg-transparent h1" data-bs-dismiss="modal">
                        <i class="lni lni-cross-circle"></i>
                    </button>
                </div>

                <div class="modal-body px-0">
                    <div class="content mb-30">
                        <form action="/clientes" method="POST" enctype="multipart/form-data" id="anadirClientes"
                            class="detalles-clientes">
                            <div class="row">
                                <div class="col mt-5">
                                    <span id="ultimoPago">Pruebita</span>
                                </div>
                                <div class="tab-style-3 mb-30 card-style">
                                    <nav class="nav" id="nav-tab">
                                        <button id="tab-3-1" class="main-btn deactive-btn rounded-full active"
                                            data-bs-toggle="tab" data-bs-target="#tabContent-3-1">
                                            Dólares
                                        </button>
                                        <button id="tab-3-2" class="main-btn deactive-btn rounded-full"
                                            data-bs-toggle="tab" data-bs-target="#tabContent-3-2">
                                            Córdobas
                                        </button>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent3">
                                        <div class="tab-pane fade show active" id="tabContent-3-1">
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <div class="card-wrapper mb-30">

                                                        <div class="single-card-wrapper">
                                                            <div class="single-card primary-bg">
                                                                <span class="text-sm text-white fw-700 "
                                                                    style="font-size: 25px;" id="nombre_cliente"></span>
                                                                <br>
                                                                <span class="fw-700">Capital</span>
                                                                <h3 id="capitalDolares"></h3>
                                                                <h6 style="margin-top: -35px; margin-bottom: 40px;">Al
                                                                    <span id="tasa_interes">18%</span>
                                                                </h6>

                                                                <span class="fw-700">Pago mensual</span>
                                                                <h3 id="pagoMensualDolaresText"></h3>

                                                                <span class="fw-700">Pago quincenal</span>
                                                                <h3 id="PagoQuincenalDolaresText"></h3>
                                                                <div class="card-info">
                                                                    <div class="mr-15">
                                                                        <span>Paga de manera: </span>
                                                                        <p id="tiempo_pago"></p>
                                                                    </div>
                                                                    <div class="mr-15">
                                                                        <span>Fecha del prestamo</span>
                                                                        <p id="fecha_prestamo"></p>
                                                                    </div>
                                                                    <div class="mr-15">
                                                                        <span>Cliente desde hace</span>
                                                                        <p id="cliente_desde"></p>
                                                                    </div>
                                                                </div>

                                                                <span class="bg-shape">
                                                                    <svg width="330" height="200" viewBox="0 0 330 200"
                                                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <mask id="mask0" style="mask-type: alpha"
                                                                            maskUnits="userSpaceOnUse" x="0" y="0"
                                                                            width="330" height="200">
                                                                            <rect width="330" height="200" rx="10"
                                                                                fill="#6647BF" />
                                                                        </mask>
                                                                        <g mask="url(#mask0)">
                                                                            <path opacity="0.3"
                                                                                d="M274 200C274 184.536 286.536 172 302 172V200H274Z"
                                                                                fill="white" />
                                                                            <path opacity="0.1"
                                                                                d="M246 172H274V200H246V172Z"
                                                                                fill="white" />
                                                                            <path opacity="0.3"
                                                                                d="M302 172C302 156.536 314.536 144 330 144V172H302Z"
                                                                                fill="white" />
                                                                            <path opacity="0.3"
                                                                                d="M246 172C246 156.536 258.536 144 274 144V172H246Z"
                                                                                fill="white" />
                                                                            <path opacity="0.6"
                                                                                d="M274 144C289.464 144 302 156.536 302 172H274V144Z"
                                                                                fill="white" />
                                                                            <circle opacity="0.05" cx="11.5" cy="9.5"
                                                                                r="99.5" fill="white" />
                                                                            <circle opacity="0.05" cx="11.5" cy="9.5"
                                                                                r="68.5" fill="white" />
                                                                            <circle opacity="0.08" cx="11.5" cy="9.5"
                                                                                r="35.5" fill="white" />
                                                                        </g>
                                                                    </svg>
                                                                </span>

                                                            </div>
                                                        </div>
                                                        <!-- end single card -->
                                                    </div>
                                                    <!-- end card wrapper -->
                                                </div>
                                                <!-- end col -->
                                            </div>
                                            <!-- end row -->
                                        </div>
                                        <div class="tab-pane fade" id="tabContent-3-2">
                                            <div class="col-6">
                                                <div class="input-style-3">
                                                    <label>Tasa de cambio</label>
                                                    <input type="text" value="" pattern="[0-9]*[.,]?[0-9]*"
                                                        inputmode="decimal" name="inputTasaCambio"
                                                        id="inputTasaCambio" />
                                                    <span class="icon" id=""
                                                        style="margin-left: 0rem;  margin-top: 2.5rem">C$</span>
                                                    <!-- Aquí se mostrará el porcentaje -->
                                                </div>
                                                <!-- end select -->
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <div class="card-wrapper mb-30">

                                                        <div class="single-card-wrapper">
                                                            <div class="single-card primary-bg">
                                                                <span class="text-sm text-white fw-700 "
                                                                    style="font-size: 25px;" id="nombre_cliente"></span>
                                                                <br>
                                                                <span class="fw-700">Capital</span>
                                                                <h3 id="capitalCordobas"></h3>

                                                                <span class="fw-700">Pago mensual</span>
                                                                <h3 id="pagoMensualCordobasText"></h3>

                                                                <span class="fw-700">Pago quincenal</span>
                                                                <h3 id="PagoQuincenalCordobasText"></h3>
                                                                <div class="card-info">
                                                                    <div class="mr-15">
                                                                        <span>Paga de manera: </span>
                                                                        <p id="tiempo_pago"></p>
                                                                    </div>
                                                                    <div class="mr-15">
                                                                        <span>Fecha del prestamo</span>
                                                                        <p id="fecha_prestamo"></p>
                                                                    </div>
                                                                    <div class="mr-15">
                                                                        <span>Cliente desde hace</span>
                                                                        <p id="cliente_desde"></p>
                                                                    </div>
                                                                </div>

                                                                <span class="bg-shape">
                                                                    <svg width="330" height="200" viewBox="0 0 330 200"
                                                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <mask id="mask0" style="mask-type: alpha"
                                                                            maskUnits="userSpaceOnUse" x="0" y="0"
                                                                            width="330" height="200">
                                                                            <rect width="330" height="200" rx="10"
                                                                                fill="#6647BF" />
                                                                        </mask>
                                                                        <g mask="url(#mask0)">
                                                                            <path opacity="0.3"
                                                                                d="M274 200C274 184.536 286.536 172 302 172V200H274Z"
                                                                                fill="white" />
                                                                            <path opacity="0.1"
                                                                                d="M246 172H274V200H246V172Z"
                                                                                fill="white" />
                                                                            <path opacity="0.3"
                                                                                d="M302 172C302 156.536 314.536 144 330 144V172H302Z"
                                                                                fill="white" />
                                                                            <path opacity="0.3"
                                                                                d="M246 172C246 156.536 258.536 144 274 144V172H246Z"
                                                                                fill="white" />
                                                                            <path opacity="0.6"
                                                                                d="M274 144C289.464 144 302 156.536 302 172H274V144Z"
                                                                                fill="white" />
                                                                            <circle opacity="0.05" cx="11.5" cy="9.5"
                                                                                r="99.5" fill="white" />
                                                                            <circle opacity="0.05" cx="11.5" cy="9.5"
                                                                                r="68.5" fill="white" />
                                                                            <circle opacity="0.08" cx="11.5" cy="9.5"
                                                                                r="35.5" fill="white" />
                                                                        </g>
                                                                    </svg>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <!-- end single card -->
                                                    </div>
                                                    <!-- end card wrapper -->
                                                </div>
                                                <!-- end col -->
                                            </div>
                                        </div>

                                    </div>
                                    <div class="container mb-3">
                                        <div class="row">
                                            <a id="gestionarPago" href=""
                                                class="main-btn primary-btn btn-hover m-1 col-md-3 offset-md-8">
                                                <i class="lni lni-plus"></i>
                                                Gestionar pago
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <!-- end card -->










                                <div class="viejo" hidden>
                                    <h4 class="mb-3">Capital</h4>
                                    <div class="col-6">
                                        <div class="input-style-3">
                                            <label>Dólares</label>
                                            <input type="text" value="" name="inputCapitalDolares"
                                                id="inputCapitalDolares" readonly />
                                            <span class="icon" id="codigoMonedaCapitalDolares"
                                                style="margin-left: 1rem;  margin-top: 2rem"></span>
                                            <!-- Aquí se mostrará el porcentaje -->
                                            <p><strong>Tasa de interes: </strong><span id="tasa_interes"></span>
                                            </p>
                                        </div>
                                        <!-- end select -->
                                    </div>
                                    <div class="col-6">
                                        <div class="input-style-3">
                                            <label>Córdobas</label>
                                            <input type="text" value="" name="inputCapitalCordobas"
                                                id="inputCapitalCordobas" readonly />
                                            <span class="icon" id="codigoMonedaCapitalCordobas"
                                                style="margin-left: 0rem;  margin-top: 2rem">C$</span>
                                            <!-- Aquí se mostrará el porcentaje -->
                                        </div>
                                        <!-- end select -->
                                    </div>

                                    <h4 class="mb-3">Pago mensual</h4>
                                    <div class="col-6">
                                        <div class="input-style-3">
                                            <label>Dólares</label>
                                            <input type="text" value="" name="inputPagoMensualDolares"
                                                id="inputPagoMensualDolares" readonly />
                                            <span class="icon" id="codigoMonedaPagoMensualDolares"
                                                style="margin-left: 1rem;  margin-top: 2rem"></span>
                                            <!-- Aquí se mostrará el porcentaje -->
                                        </div>
                                        <!-- end select -->
                                    </div>

                                    <div class="col-6">
                                        <div class="input-style-3">
                                            <label>Córdobas</label>
                                            <input type="text" value="" name="inputPagoMensualCordobas"
                                                id="inputPagoMensualCordobas" readonly />
                                            <span class="icon" id="codigoMonedaPagoMensualCordobas"
                                                style="margin-left: 0rem;  margin-top: 2rem">C$</span>
                                            <!-- Aquí se mostrará el porcentaje -->
                                        </div>
                                        <!-- end select -->
                                    </div>



                                    <h4 class="mb-3">Pago quincenal</h4>
                                    <div class="col-6">
                                        <div class="input-style-3">
                                            <label>Dólares</label>
                                            <input type="text" value="" name="inputPagoQuincenalDolares"
                                                id="inputPagoQuincenalDolares" readonly />
                                            <span class="icon" id="codigoMonedaPagoQuincenalDolares"
                                                style="margin-left: 1rem;  margin-top: 2rem"></span>
                                            <!-- Aquí se mostrará el porcentaje -->
                                        </div>
                                        <!-- end select -->
                                    </div>
                                    <!-- end select -->
                                    <div class="col-6">
                                        <div class="input-style-3">
                                            <label>Córdobas</label>
                                            <input type="text" value="" name="inputPagoQuincenalCordobas"
                                                id="inputPagoQuincenalCordobas" readonly />
                                            <span class="icon" id="codigoMonedaPagoQuincenalCordobas"
                                                style="margin-left: 0rem;  margin-top: 2rem">C$</span>
                                            <!-- Aquí se mostrará el porcentaje -->
                                        </div>
                                        <!-- end select -->

                                    </div>


                                </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal detalles de las sumatorias de clientes -->
<div class="warning-modal">
    <div class="modal fade" id="modalDetallesPagosClientes" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content card-style">
                <div class="modal-header px-0 border-0">
                    <h5 class="text-bold">
                        <i class="lni lni-warning text-danger me-2"></i> ¿Por qué está cantidad?
                    </h5>
                </div>
                <div class="modal-body px-0">
                    <div class="content mb-30">

                        <div class="table-responsive">
                            <table id="tableNormal" class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <h6 style="font-size: 25px;">Ciente</h6>
                                        </th>
                                        <th>
                                            <h6 style="font-size: 25px;">Fecha</h6>
                                        </th>
                                        <th>
                                            <h6 style="font-size: 25px;">Monto pagado</h6>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cliente in total_dinero_personas_pagadas.clientes_pagados %}
                                    <tr>
                                        <td>
                                            <p>{{ cliente.nombres }} {{ cliente.apellidos }}</p>
                                        </td>
                                        <td>
                                            <p>{{ cliente.fecha_ultimo_pago_real }}</p>
                                        </td>
                                        <td>
                                            <p>$ {{ cliente.monto_ultimo_pago_dolares }} <br> C$ {{
                                                cliente.monto_ultimo_pago_cordobas }}</p>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="content">
                                <h6 class="text-bold mb-10">Sumatoria</h6>
                                <h3 class="text-bold mb-10">$ {{
                                    total_dinero_personas_pagadas.suma_total_dinero_quincenal_dolares }}</h3>
                                <h3 class="text-bold mb-10"> C$ {{
                                    total_dinero_personas_pagadas.suma_total_dinero_quincenal_cordobas }}</h3>
                                <br>
                            </div>



                        </div>
                        <div class="action d-flex flex-wrap justify-content-end">
                            <button data-bs-dismiss="modal" class="main-btn btn-sm danger-btn btn-hover m-1">
                                Salir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ModalFour End -->

    {% endblock %}

    {% block customJS %}

    <script src="{{ url_for('static', filename='assets/js/charts_home.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <!-- <script src="{{ url_for('static', filename='assets/js/datatable.js') }}"></script> -->
    <script src="{{ url_for('static', filename='assets/js/cloudinary.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/pagos/pagos.js') }}"></script>

    <script>

        document.addEventListener("submit", function (e) {
            e.preventDefault();
        })

        /*
        const dataTable = new simpleDatatables.DataTable("#tableNormal", {
            searchable: true,
            order: [[1, 'desc']]
    
          });
    */
        new DataTable('#tableNormal', {
            order: [[1, 'desc']],
            language: {
                search: 'Buscar:',
                searchPlaceholder: 'Escriba para buscar',
                lengthMenu: 'Mostrar _MENU_ registros por página',
                info: 'Mostrando página _PAGE_ de _PAGES_',
                infoEmpty: 'No hay resultados disponibles',
                infoFiltered: '',
                zeroRecords: 'No se encontraron resultados'
            }

        });

        new DataTable('#tableDetallesPagos', {
            order: [[1, 'desc']],
            language: {
                search: 'Buscar:',
                searchPlaceholder: 'Escriba para buscar',
                lengthMenu: 'Mostrar _MENU_ registros por página',
                info: 'Mostrando página _PAGE_ de _PAGES_',
                infoEmpty: 'No hay resultados disponibles',
                infoFiltered: '',
                zeroRecords: 'No se encontraron resultados'
            }

        });


        quincena_actual = document.getElementById('quincena_actual');

        quincena_actual.addEventListener('change', (e) => {



            const quincena_actual_value = document.getElementById('quincena_actual').value;

            if (quincena_actual_value === '') {
                window.alert('Seleccione una fecha');
                return;
            }


            fetch('/listado_clientes_pagos_filter', {
                method: 'POST',
                body: JSON.stringify({
                    date: quincena_actual_value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') { // status debe ser 'success' según tu respuesta del backend
                        window.location.reload();
                    } else {
                        window.alert('No se pudo filtrar los clientes');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });


        let btnDetallesCantidadPersonas = document.getElementById('btnDetallesCantidadPersonas');

        btnDetallesCantidadPersonas.addEventListener("click", function () {

            // Abrir modal con id modalDetallesPagosClientes
            $('#modalDetallesPagosClientes').modal('show');


        });

    </script>


    {% endblock %}